.PlantD {
    background-color: lightgray;
    border-color: black;
    border-style: solid;
    width: 50%;
    margin: 0 auto;
}

.PlantImg {
    border-color: black;
    border-style: solid;
    max-width: 400px;
    max-height: 500px;
    height: auto;
    width: auto;
    margin-right: 10px;
}

.deleteBtn {
    border-radius: 5px;
    margin: 10px;
}