.PlantAilPage {
    width: 220px;
    height: auto;
    margin: 0 auto
}

.PlAil{
    display: flex;
    flex-flow: column;
    border-color: black;
    border-style: solid;
    margin-bottom: 20px;
    align-items: stretch;
    height: 95%;
    background-color: lightgray;
}

.AilPlantImgList {
    border-color: black;
    border-style: solid;
    max-width: 170px;
    min-height: 170px;
    height: auto;
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.PlAilImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    margin-left: 10px;
}

.AilmentTitle {
    margin: 0 auto;
}

